$spaceMap: (
  xxxs: 0.125rem,
  xxs: 0.25rem,
  xs: 0.5rem,
  s: 0.75rem,
  m: 1rem,
  l: 1.5rem,
  xl: 2rem,
  xxl: 4rem,
  xxxl: 6rem,
  xxxxl: 10rem
);

$textSizeMap: (
  xxs: 0.5rem,
  xs: 0.75rem,
  s: 0.875rem,
  m: 1rem,
  l: 1.125rem,
  xl: 1.25rem,
  xxl: 1.5rem
);

$textWeightsMap: (
  x-light: 400,
  light: 400,
  semi-bold: 600,
  bold: 700,
  x-bold: 900
);

$colorMap: (
  brand-01: (
    base: #00266f
  ),
  brand-02: (
    base: #004ed8
  ),
  ui-01: (
    base: #00266f
  ),
  ui-02: (
    base: #004ed8,
    light-300: #4d83e4,
    light-100: #b3caf3,
    light-050: #e0eafa
  ),
  ui-03: (
    base: #698a95,
    light-300: #96adb5,
    light-100: #d2dcdf,
    light-050: #edf1f2
  ),
  ui-04: (
    base: #bbf3ff
  ),
  ui-05: (
    base: #004ed8
  ),
  background-01: (
    base: #ffffff
  ),
  background-02: (
    base: #f3f7f8
  ),
  background-03: (
    base: #f4f7fa
  ),
  background-04: (
    base: #f5f7fa
  ),
  background-05: (
    base: #eaf0f8
  ),
  background-06: (
    base: #004ed8
  ),
  text-01: (
    base: #002832
  ),
  text-02: (
    base: #002832
  ),
  text-03: (
    base: #002832
  ),
  text-04: (
    base: #002832
  ),
  text-05: (
    base: #ffffff
  )
);

$tokens: (
  color: $colorMap,
  space: $spaceMap,
  textSize: $textSizeMap,
  textWeight: $textWeightsMap
);
