$spaceMap: (
  xxxs: 0.125rem,
  xxs: 0.25rem,
  xs: 0.5rem,
  s: 0.75rem,
  m: 1rem,
  l: 1.5rem,
  xl: 2rem,
  xxl: 4rem,
  xxxl: 6rem,
  xxxxl: 10rem
);

$textSizeMap: (
  xxs: 0.5rem,
  xs: 0.75rem,
  s: 0.875rem,
  m: 1rem,
  l: 1.125rem,
  xl: 1.25rem,
  xxl: 1.5rem
);

$textWeightsMap: (
  x-light: 400,
  light: 400,
  semi-bold: 600,
  bold: 700,
  x-bold: 900
);

$colorMap: (
  brand-01: (
    base: #00266f
  ),
  brand-02: (
    base: #004ed8
  ),
  ui-01: (
    base: #00266f
  ),
  ui-02: (
    base: #004ed8,
    light-300: #4d83e4,
    light-100: #b3caf3,
    light-050: #e0eafa
  ),
  ui-03: (
    base: #698a95,
    light-300: #96adb5,
    light-100: #d2dcdf,
    light-050: #edf1f2
  ),
  ui-04: (
    base: #bbf3ff
  ),
  ui-05: (
    base: #004ed8
  ),
  background-01: (
    base: #ffffff
  ),
  background-02: (
    base: #f3f7f8
  ),
  background-03: (
    base: #f4f7fa
  ),
  background-04: (
    base: #f5f7fa
  ),
  background-05: (
    base: #eaf0f8
  ),
  background-06: (
    base: #004ed8
  ),
  red: (
    base: #cc3656,
    xx-light: #f597ac,
    x-light: #e06a84,
    light: #d84f6d,
    dark: #9b344a,
    x-dark: #702031,
    xx-dark: #571120
  ),
  green: (
    base: #12721f,
    xx-light: #4bdd5f,
    x-light: #33b344,
    light: #239232,
    dark: #13521b,
    x-dark: #13441a,
    xx-dark: #0c250f
  ),
  blue: (
    base: #3460d8,
    xx-light: #65baf3,
    x-light: #47aafc,
    light: #2f60e7,
    dark: #204097,
    x-dark: #1f3a86,
    xx-dark: #183179
  ),
  gray: (
    base: #cfcfcf,
    xx-light: #f5f5f5,
    x-light: #ecebeb,
    light: #e7e5e5,
    dark: #a7a6a6,
    x-dark: #7c7c7c,
    xx-dark: #474747
  )
);

$tokens: (
  color: $colorMap,
  space: $spaceMap,
  textSize: $textSizeMap,
  textWeight: $textWeightsMap
);
