<div class="container">
	<h2 class="sectionTitle">Space</h2>
	<div class="section">
		<span class="spaceBox xxxxl"></span>
		<span class="spaceBox xxxl"></span>
		<span class="spaceBox xxl"></span>
		<span class="spaceBox xl"></span>
		<span class="spaceBox m"></span>
		<span class="spaceBox s"></span>
		<span class="spaceBox xs"></span>
		<span class="spaceBox xxs"></span>
		<span class="spaceBox xxxs"></span>
	</div>

	<h2 class="sectionTitle">Typography</h2>
	<div class="section">
		<span class="text xxs">The quick bold fox</span>
		<span class="text xs">The quick bold fox</span>
		<span class="text s">The quick bold fox</span>
		<span class="text m">The quick bold fox</span>
		<span class="text l">The quick bold fox</span>
		<span class="text xl">The quick bold fox</span>
		<span class="text xxl">The quick bold fox</span>
		<span class="text xxl light">The quick bold fox</span>
		<h2>The quick H2 fox</h2>
	</div>

	<h2>Color</h2>
	<div class="section">
    <p>Brand</p>
		<span class="colorBox brand-01 text text-05">brand-01</span>
		<span class="colorBox brand-02">brand-02</span>
    <p>UI</p>
    <span class="colorBox ui-01 text text-05">ui-01</span>
		<span class="colorBox ui-02">ui-02</span>
    <span class="colorBox ui-02 light-300">ui-02 light-300</span>
    <span class="colorBox ui-02 light-100">ui-02 light-100</span>
    <span class="colorBox ui-02 light-050">ui-02 light-050</span>
    <span class="colorBox ui-03">ui-03</span>
    <span class="colorBox ui-03 light-300">ui-03 light-300</span>
    <span class="colorBox ui-03 light-100">ui-03 light-100</span>
    <span class="colorBox ui-03 light-050">ui-03 light-050</span>
    <span class="colorBox ui-04">ui-04</span>
    <p>Background</p>
    <span class="colorBox background-01">background-01</span>
    <span class="colorBox background-02">background-02</span>
    <span class="colorBox background-03">background-03</span>
    <span class="colorBox background-04">background-04</span>
    <span class="colorBox background-0">background-05</span>
	</div>
</div>