@import "./styles/styles.scss";

.container {
  min-width: 1040px;
}

.section {
  @include background-color(background-01, "base");
  @include padding("m");
  border: 2px solid getColor(background-01, "base");
  border-radius: 4px;
}

h2 {
  @include font("l", "heading");
}

.spaceBox {
  display: inline-block;
  @include margin("xxs");
  @include background-color(brand-01);
  &.xxxs {
    @include padding("xxxs");
  }
  &.xxs {
    @include padding("xxs");
  }
  &.xs {
    @include padding("xs");
  }
  &.s {
    @include padding("s");
  }
  &.m {
    @include padding("m");
  }
  &.l {
    @include padding("l");
  }
  &.xl {
    @include padding("xl");
  }
  &.xxl {
    @include padding("xxl");
  }
  &.xxxl {
    @include padding("xxxl");
  }
  &.xxxxl {
    @include padding("xxxxl");
  }
  &::after {
    content: "\A";
  }
  border-radius: 2px;
}

.text {
  @include color(text-01);
  display: block;
  &.xxs {
    @include font("xxs");
  }
  &.xs {
    @include font("xs");
  }
  &.s {
    @include font("s");
  }
  &.m {
    @include font("m");
  }
  &.l {
    @include font("l");
  }
  &.xl {
    @include font("xl");
  }
  &.xxl {
    @include font("xxl");
  }
  &.xxxl {
    @include font("xxxl");
  }
}

.colorBox {
  @include padding("s");
  @include margin-right("s");
  @include margin-top("s");
  display: inline-block;
  border-radius: 4px;
  &.brand-01 {
    @include background-color(brand-01);
  }
  &.brand-02 {
    @include background-color(brand-02);
  }
  &.ui-01 {
    @include background-color(ui-01);
  }
  &.ui-02 {
    @include background-color(ui-02);
    &.light-300 {
      @include background-color(ui-02, "light-300");
    }
    &.light-100 {
      @include background-color(ui-02, "light-100");
    }
    &.light-050 {
      @include background-color(ui-02, "light-050");
    }
  }
  &.ui-03 {
    @include background-color(ui-03);
    &.light-300 {
      @include background-color(ui-03, "light-300");
    }
    &.light-100 {
      @include background-color(ui-03, "light-100");
    }
    &.light-050 {
      @include background-color(ui-03, "light-050");
    }
  }
  &.ui-04 {
    @include background-color(ui-04);
  }
  &.ui-05 {
    @include background-color(ui-05);
  }
  &.background-01 {
    @include background-color(background-01);
  }
  &.background-02 {
    @include background-color(background-02);
  }
  &.background-03 {
    @include background-color(background-03);
  }
  &.background-04 {
    @include background-color(background-04);
  }
  &.background-05 {
    @include background-color(background-05);
  }
  &.background-06 {
    @include background-color(background-06);
  }
}
